.idea/
*.isf
*.pyc
docs/~$Auto_SEE_ACC.xlsx
docs/~$TestSpec_SEE_IMU_BMIxxx_Vxxx.xlsx
testcases/test.log
logs/
pytest_html/
pytest_assume/
build/
dist/
testcases/QualcommSeeDriverTests/sensorinfo.txt
testcases/QualcommSeeDriverTests/report.html
testcases/QualcommSeeDriverTests/reports/
